<nav class="navbar navbar-expand-lg navbar-light bg-light px-sm-5">
    <a class="navbar-brand" href="#">Supp Fitness</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/index">داشبورد</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">کاربران</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    محصولات
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/products">لیست محصولات </a>
                    <a class="dropdown-item" href="/admin/create_product">ایجاد محصول</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    دسته بندی ها
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/categories">لیست دسته ها </a>
                    <a class="dropdown-item" href="/admin/create_category">ایجاد دسته</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    سفارشات
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/orders">لیست سفارشات </a>

                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin/logout">خروج</a>
            </li>
        </ul>
    </div>
</nav>
